<article class="new-post">
  <h1>{{title}}</h1>
  <p class="{{resulttype}}">{{text}}</p>
  <p>{{resultstring}}</p>
    <nav>
        <a href="/" class="mainpage-link">Try another palindrome</a>
    </nav>
</article>